version: '3.8'

services:
  django:
    build: ./django
    working_dir: /app/noethysweb/noethysweb
    command: gunicorn noethysweb.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./db:/app/noethysweb/noethysweb/db
      - ./mediafiles:/app/noethysweb/noethysweb/mediafiles
      - ./django/settings_production.py:/app/noethysweb/noethysweb/noethysweb/settings_production.py
      - ./reset.sh:/app/reset.sh
      - ./static:/app/noethysweb/noethysweb/static
    ports:
      - "127.0.0.1:8000:8000"
  nginx:
    image: nginx:1.25.4
    volumes:
      - ./log/nginx:/var/log/nginx
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./static:/app/static
    ports:
      - 80:80

